# IDEs
.vscode/
.idea/

# Outputs
output/

# Python
.ruff_cache/
.mypy_cache/
__pycache__/

.venv/
venv/

build/
dist/
*.py[oc]
wheels/
*.egg-info

# Config
config.toml
.env

# Claude
.claude/
CLAUDE.md