name: Publish to AUR

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    container: archlinux:latest
    permissions:
      contents: read

    steps:
      - name: Install dependencies
        run: pacman -Sy --noconfirm base-devel git openssh curl

      - uses: actions/checkout@v6

      - name: Set version
        run: |
          VERSION=$(grep -E '^version = ' pyproject.toml | cut -d'"' -f2)
          bash ./.github/workflows/scripts/update-version.sh "$VERSION"
          echo "VERSION=${VERSION}" >> $GITHUB_ENV

      - name: Update sha256
        run: bash ./.github/workflows/scripts/update-sha256.sh

      - name: Generate SRCINFO
        run: |
          useradd -m builder
          chown -R builder:builder .
          sudo -u builder bash ./.github/workflows/scripts/generate-srcinfo.sh

      - name: Push to AUR
        env:
          AUR_SSH_KEY: ${{ secrets.AUR_SSH_KEY }}
          AUR_REPO: "ssh://aur@aur.archlinux.org/python-ghlang.git"
        run: |
          mkdir -p ~/.ssh
          echo "$AUR_SSH_KEY" > ~/.ssh/aur
          chmod 600 ~/.ssh/aur
          ssh-keyscan aur.archlinux.org >> ~/.ssh/known_hosts
          cat >> ~/.ssh/config <<EOF
          Host aur.archlinux.org
            IdentityFile ~/.ssh/aur
            User aur
          EOF

          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

          git clone "$AUR_REPO" aur
          cp PKGBUILD .SRCINFO aur/
          cd aur
          git add PKGBUILD .SRCINFO
          git commit -m "release $VERSION" || true
          git push
